* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --ColorFondo: #0f172a; 
    --ColorFondoCalcu: #1e293b; 
    --Blanco: #f1f5f9; 
    --ColorFondoNum: #334155; 
    --ColorBotones: #2563eb;; 
    --HoverBotones: #fb8500; 
    --ColorBotonigual: #ef476f;
    --HoverIgual: #d43a61; 
    --SombraBotones: rgba(255, 145, 77, 0.4); 
    --SombraPantalla: rgba(255, 255, 255, 0.2); 
}

body {
    min-height: 100vh;
    background-color: var(--ColorFondo);
    display: grid;
    place-items: center;
}

.calculadora {
    background-color: var(--ColorFondoCalcu);
    color: var(--Blanco);
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); 
    border: 2px solid var(--HoverBotones); 
}

.pantalla {
    grid-column: 1 / -1;
    background-color: var(--ColorFondoNum);
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
    color: var(--Blanco);
    box-shadow: 0 4px 10px var(--SombraPantalla); 
}

.btn {
    background-color: var(--ColorBotones);
    color: var(--Blanco);
    border: 0;
    padding: 1.5rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 2px 4px var(--SombraBotones); 
    transition: all 0.2s ease-in-out; 
}

.btn:hover {
    background-color: var(--HoverBotones);
    transform: scale(1.05); 
    box-shadow: 0 6px 12px var(--SombraBotones); 
}

#cero {
    grid-column: span 2;
}

#igual {
    grid-row: span 2;
    background-color: var(--ColorBotonigual);
    box-shadow: 0 6px 12px rgba(239, 71, 111, 0.5); 
}

#igual:hover {
    background-color: var(--HoverIgual);
    transform: scale(1.1); 
}

.firma {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 1rem;
    color: var(--Blanco);
    background-color: rgba(255, 145, 77, 0.2); /* Fondo semitransparente */
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-family: "Dancing Script", cursive; /* Fuente estilo manuscrito */
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para darle dimensión */
    text-align: center;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.firma:hover {
    transform: scale(1.1); /* Ampliación ligera al pasar el ratón */
    background-color: rgba(255, 145, 77, 0.4); /* Fondo más llamativo */
}


@media (max-width: 400px) {
    .pantalla {
        font-size: 1.2rem;
    }

    .btn {
        font-size: 1rem;
        padding: 0.8rem;
    }
}
